.main {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100vh;
    margin:0px 20%;
}

.image-holder{
    display: flex;
    flex:50%;
    justify-content: center;
}

.fade-in {
    opacity: 0; 
    height: auto;
    transition: opacity 1s ease-in-out; 
    background-color: black;
    border: 15px solid;
    border-radius: 30px;
    position: absolute; 
    top: 0;
    bottom: 0;
    margin: auto;
}

.fade-in.visible {
    opacity: 1; /* Fade in the image */
}

.login-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex:50%;
}
.form-heading {
    width: 100px;
    height: 100px; /* Set a height if needed */
    background-image: url("{% static '/instagram/images/heading-img.png' %}");
    background-size: cover; /* Adjusts the size of the background image */
    background-position: center; /* Centers the image within the div */
    background-repeat: no-repeat; /* Prevents the image from repeating */
}
