
.post-area {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centers content horizontally */
    justify-content: center; /* Centers content vertically */
    padding: 1rem;
}

.post {
    width: 100%;
    max-width: 600px; /* Adjust max width as needed */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem; /* Space between posts */
}

.post-header {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.profile-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%; /* Makes the image circular */
    margin-right: 1rem;
}

.username p {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
}


.post-image {
    max-width: 600px;
    max-height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Prevents image from overflowing container */
}

.post-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-top: 1px solid #ddd;
}
